.priority_edit {
    display: flex;
    width: 568px;
    height: 280px;
    margin: 15px auto;
    border-radius: 8px;
    position: relative;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    position: absolute;
    margin-left: 1290px;
    margin-top: 150px;
}

.priority_edit::before {
    content: '';
    z-index: -1;
    background-color: #6b6d6f;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 8px;
    bottom: 8px;
    width: 585px;
    height: 295px;
}

.priority_select {
    display: flex;
    align-items: center;
    color: #87919d;
    margin: auto;
    width: 300px;
    height: 35px;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 80%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    appearance: none;
    outline-width: 0;
    font-size: 1rem;
    border-bottom: 1px solid #757575;
    border-radius: 6px;
    padding-left: 10px;
    cursor: pointer;
}

.priority_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 35px;
    color: #87919d;
    word-break: break-all;
    
}

.edit_btn_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.update_btn {
    width: 80px;
    color: #87919d;
    cursor: pointer;
}

.close_btn_container {
    margin-left: 540px;
    margin-top: 5px;
}

.close_btn {
    font-size: 15px;
    color: #d2d2d2;
    background-color: white;
    border: none;
    cursor: pointer;
}